body{
    background-image: url(https://cdn.pixabay.com/photo/2016/01/27/15/25/space-1164579__340.png);
    background-size: cover;
}

.star-wars-btn{
    color: yellow;
    background-color: black;
    margin: 5px;
}

label{
    color: yellow;
}

input{
    color: yellow;
    background-color: black;
    border-color: white;
}

.col-sm{
    color: yellow;
}

#results{
    color: yellow;
}

/* #search{
    float: right;
} */

@media screen and (max-width: 980px) {
    [id="button-views"]{
        width: 100%;
    }
    [class="sw"]{
        width: 100%;
    }
    [id="results"]{
        width: 100%;
    }
    [id="star-wars-form"]{
        width: 100%;
    }
    [id="sw-input"]{
        width: 100%;
    }
    [id="search"]{
        width: 100%;
    }
    [id="starwars-view"]{
        width: 100%
    }
 }
 
 @media screen and (max-width: 768px) {
    [id="button-views"]{
        width: 100%;
    }
    [class="sw"]{
        width: 100%;
    }
    [id="results"]{
        width: 100%;
    }
    [id="star-wars-form"]{
        width: 100%;
    }
    [id="sw-input"]{
        width: 100%;
    }
    [id="search"]{
        width: 100%;
    }
    [id="starwars-view"]{
        width: 100%
    }
 }
 
 @media screen and (max-width: 640px) {
    [id="button-views"]{
        width: 100%;
    }
    [class="sw"]{
        width: 100%;
    }
    [id="results"]{
        width: 100%;
    }
    [id="star-wars-form"]{
        width: 100%;
    }
    [id="sw-input"]{
        width: 100%;
    }
    [id="search"]{
        width: 100%;
    }
    [id="starwars-view"]{
        width: 100%
    }
 }