body{
    background-image: url(https://cdn.pixabay.com/photo/2016/01/27/15/25/space-1164579__340.png);
    background-size: cover;
}

.star-wars-btn{
    color: yellow;
    background-color: black;
    margin: 5px;
}

label{
    color: yellow;
}

input{
    color: yellow;
    background-color: black;
    border-color: white;
}

.col-sm{
    color: yellow;
}

/* #search{
    float: right;
} */
